<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - Robot Runner WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - Robot Runner WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Robot Runner WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Robot Runner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RobotRunnerKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D4027AB91AEC5A640033165E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4027AC31AEC5A650033165E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4374ABA1AEC2BE4004095BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D48F92B71AEAAECD006DB4A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D48F92CC1AEAAECD006DB4A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
